spring:
  datasource:
    url:
    username:
    password:
  jpa:
    hibernate:
      ddl-auto:
    show-sql:
  mail:
    host:
    port:
    username:
    password:
    properties:
      mail:
        smtp:
          auth:
          starttls:
            enable:
